.popoverHeader {
  background-color: white !important;
  color: #99c8cc !important;
  text-align: left !important;
  font-style: italic;
  font-size: 12px !important;
  border-bottom: none;
}

.popoverBody {
  padding: 2px 5px 2px 5px;
  font-family: Poppins, Medium Italic;
  font-style: italic;
  font-size: 12px;
}
.popoverContainer {
  width: 163px !important;
}
