.loadStatusListLabel {
  width: 48px;
  height: 30px;
  line-height: 30px;
  background: #2cd889;
  border-color: #2cd889;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0;
  color: #fff;
  font-size: 13px;
}
