@import '../../variables.scss';
@import '../../mixins.scss';

.companyProfile {
  margin-bottom: $space30;
}

.companyImg {
  width: 108px;
  height: 108px;
  display: $block;
  .imgOuter {
    display: $block;
    
    img {
      object-fit: cover;
      object-position: top center;
      width: 100%;
    }
  }

}

.companyInformation {
  padding-left: $space10 + 5;
}

.companyName {
  font-size: $fs15 + 1;
  color: $grey;
  display: $block;
  margin-bottom: $space10 + 5;
}

.greenBtn {
  background: $green;
  border-color: $green;
  color:$white
}

.tabImage {
  img {
    margin-right: $space10 - 2;

    @media (max-width: $xxxl) {
      margin-right: $space10 - 5;
    }
  }
}
