@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.tableRight {
  background: $white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 645px;
  position: absolute;
  padding: 30px;
  box-shadow: 0px 4px 8px #00000029;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000 !important;

  // @media (max-width: $xxl) {
  //   width: 325px;
  // }

  // @media (max-width: $xl) {
  //   width: 300px;
  //   top: 66px;
  // }

  // @media (max-width: $md) {
  //   position: inherit;
  //   top: auto;
  //   bottom: auto;
  //   right: auto;
  //   width: 100%;
  //   overflow-y: auto;
  //   background: transparent;
  //   box-shadow: none;
  //   padding-bottom: 0;
  // }
}
.rightModal {
  width: 0px;
  opacity: 0;
}
.listSection {
  padding-bottom: $space10 + 5;
  border-bottom: 1px solid $bdrGrey;
  margin-bottom: $space10 + 5;

  @media (max-width: $xxl) {
    padding-bottom: $space10;
    margin-bottom: $space10;
  }
}
.bdrNone {
  border: 0 !important;

  @media (max-width: $md) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}