@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  @include html;
}
body {
  @include body;
}

:focus {
  color: #212529;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

.overflowx-scroll {
  overflow-x: scroll !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $Gray;
  opacity: 1;
  /* Firefox */
  font-size: $fs14;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $Gray;
  font-size: $fs14;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $Gray;
  font-size: $fs14;
}

body {
  font-size: $fs15;
  font-weight: $font-weight-normal;
  color: $dGray;
  line-height: 24px;
  background: $offgray;
  font-family: 'Poppins', sans-serif;
}

.layoutContainer {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  margin-top: 68px;
}

.layoutPage {
  flex-basis: 100%;
  flex-direction: column;
  width: 0;
  min-width: 0;
  max-width: 100%;
  padding-left: 14.5rem;
  padding-right: 2rem;
  padding-top: 2rem;
  position: $relative;
}

a {
  transition: $theme-transition;
  text-decoration: none;
  font-weight: $font-weight-normal;
  font-size: $fs14;
}

h1 {
  font-size: $fs30 + 6;
  font-weight: $font-weight-semibold;
  padding-bottom: $space30;
  color: $dGray;
  margin: 0;
}

h2 {
  font-size: $fs20 + 2;
  font-weight: $font-weight-semibold;
  color: $dGray;
  margin: 0;
  text-transform: inherit;
  padding-bottom: 0;

  @media (max-width: $sm) {
    font-size: $fs20 - 2;
  }
}

h3 {
  font-size: $fs15 + 3;
  font-weight: $font-weight-semibold;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: $space20;
  margin-bottom: 0;
}

h4 {
  font-size: $fs14;
  font-weight: $font-weight-semibold;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: $space20;
  margin-bottom: 0;
}



p {
  line-height: 22px;
}

.customBtn {
  background-color: $primary;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.16);
  border-radius: 70px;
  border: 0;
  font-size: $fs14;
  height: 42px;
  padding-left: 35px;
  padding-right: 35px;
}
.btn-primary:disabled {
  background-color: $primary;
}
.btn-OutlineBtn {
  background: rgba(243, 243, 243, 0.7) 0% 0% no-repeat padding-box;
  border-radius: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: $fs14;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.54);
  position: relative;

  &:hover {
    border: 1px solid $primaryHover;
    background-color: $primaryHover;
    color: $white;

    .closeIcon {
      filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(196deg) brightness(107%) contrast(105%);
    }
  }
}

.closeIcon {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  right: 13px;
}

.close {
  padding-right: 30px;
}

.smallBtn {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: $white;
}

.whiteOutlineBtn {
  background: $white;
  border-radius: 70px;
  border: 1px solid $Gray;
  font-size: $fs14;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.16);

  &:hover {
    background: $primaryHover;
    border-radius: 70px;
    border: 1px solid $primaryHover;
    color: $white;
  }

  .active {
    background: $primaryHover;
    border-radius: 70px;
    border: 1px solid $primaryHover;
    color: $white;
  }
}

.RedOutlineBtn {
  background: $white;
  border-radius: 70px;
  border: 1px solid $primary;
  font-size: $fs14;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.14px;
  color: $primary;
  position: relative;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.16);
}

.whiteOutlineBtn:hover {
  background: $primaryHover;
  border-radius: 70px;
  border: 1px solid $primaryHover;
  color: $white;
}

.headding {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mr15 {
  margin-right: 15px;
}

.Uppercase {
  text-transform: $text-uppercase;
}

.Capital {
  text-transform: capitalize;
}

.tableBg {
  background-color: $white;
}

.table > thead {
  vertical-align: bottom;
  height: 70px;
}

.table > :not(caption) > * > * {
  vertical-align: middle;
  // padding: 15px 28px;
  padding: 15px 10px;
  white-space: nowrap;
}

table {
  // table-layout: fixed;
  white-space: normal;

  @media (max-width: $xxl) {
    table-layout: inherit;
    word-wrap: inherit;
    white-space: pre;
  }
}

thead {
  th {
    font-size: $fs14;
    background-color: $white;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: $white !important;
  color: rgba(0, 0, 0, 0.54);
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: rgba(251, 251, 251, 1);
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: #e6e6e6;
}

.ActionDropDown {
  .btn-primary {
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid $primary;
    color: $primary;
    font-size: $fs14;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;

    &:after {
      display: none;
    }

    &:hover {
      background-color: $primaryHover;
      color: $white;
    }
  }
}

.dropdown-menu.show {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  border: 0px;
  font-size: $fs14;
}

table {
  tr {
    th {
      &:last-child {
        width: 170px;

        @media (max-width: $lg) {
          width: inherit;
        }
      }
    }

    // &:last-child {
    //   td{ border-bottom: 0px;}
    // }
  }
}

.table {
  margin-bottom: 0px;
  padding-bottom: 0px;

  td {
    color: rgba(0, 0, 0, 0.54);
    font-weight: $font-weight-medium;
  }
}

.md1 {
  .modal-dialog {
    max-width: 645px !important;
  }

  .modal-content {
    padding: 0px 27px;
  }

  .btn-close {
    opacity: 1;
    position: absolute;
    right: 26px;
    top: 15px;
  }
}

.modal-title {
  &.h4 {
    font-size: $fs15 + 3;
    font-weight: $font-weight-bold;
  }
}

.addForm {
  max-width: 350px;
}

.form-check {
  padding-left: 0px;
}

.inputStyle {
  border: 1px solid $black;
  height: 42px;
  background: rgba(255, 255, 255, 0.7) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  position: relative;
  padding: 0px 10px;
  // margin-bottom: 33px;

  .inputLabel {
    font-size: $fs14 - 4;
    color: #666666;
    position: $absolute;
    left: 19px;
    top: -7px;
    background-color: $white;
    display: inline-block;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 11px;
  }

  .form-control {
    border: 0px solid #000;
    background-color: transparent;
    border-radius: 0px;
    height: 38px;
    font-size: $fs14;
  }
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: rgba(228, 0, 43, 1);
  position: absolute;
  top: 4.4px;
  left: 4.4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mb24 {
  margin-bottom: 24px;
}

.wdth350 {
  max-width: 350px;
  width: 100%;
}

.linkText {
  color: rgba(0, 0, 0, 0.87);
  font-size: $fs14;
  font-weight: $font-weight-bold;
}

.manageSelect {
  .form-select {
    border: 0px solid #000 !important;
    background-color: transparent !important;
    border-radius: 0px;
    height: 40px;
    font-size: $fs14;
  }
}

.layoutPage {
  flex-basis: 100%;
  flex-direction: column;
  width: 0;
  min-width: 0;
  max-width: 100%;
  padding-left: 14.5rem;
  padding-right: 2rem;
  padding-top: 2rem;
  position: $relative;

  @media (max-width: $lg) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.layoutMenuFixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
  box-shadow: 3px 0px 6px #0000000d;
  width: 200px;
  background-color: $white;
  padding-top: 78px;
  z-index: 1;

  @media (max-width: $lg) {
    left: -286px;
  }

  .menuList {
    ul {
      padding: 0px;
      margin: 0px 15px 0px 0px;

      li {
        padding: 2px 0px;
        margin: 0px;
        list-style: none;

        a {
          display: block;
          border-radius: 0px 40px 40px 0px;
          position: relative;
          padding: 8px 10px 8px 60px;
          color: rgba(0, 0, 0, 0.54);
          font-weight: 600;
          font-size: $fs14;
          
          i {
            position: absolute;
            left: 27px;
            line-height:unset;
          }

          &:hover {
            background-color: #0000000d;
            display: block;
            border-radius: 0px 40px 40px 0px;
            position: relative;
            color: rgba(0, 0, 0, 0.54);
            font-weight: 600;

            &:before {
              position: absolute;
              width: 3px;
              background-color: #2cd889;
              height: 100%;
              left: 0;
              content: '';
              border-radius: 0px 3px 3px 0px;
              top: 0;
            }
          }

          &.active {
            background-color: #0000000d;
            display: block;
            border-radius: 0px 40px 40px 0px;
            position: relative;
            color: rgba(0, 0, 0, 0.54);
            font-weight: 600;

            &:before {
              position: absolute;
              width: 3px;
              background-color: #2cd889;
              height: 100%;
              left: 0;
              content: '';
              border-radius: 0px 3px 3px 0px;
              top: 0;
            }
          }
        }
      }
    }
  }
}

.hamburger {
  position: absolute;
  top: 17px;
  left: 24px;
}

.toggleSidebar {
  .layoutPage {
    padding-left: 6rem;
    padding-right: 3rem;
    transition: all 0.1s ease;

    @media (max-width: $lg) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .goBackContainer{
    margin: 7rem 4rem 0rem 0rem !important;
  }
  .layoutMenuFixed {
    width: 55px;
    overflow-x: hidden;
    transition: all 0.1s ease;
    z-index: 1;

    @media (max-width: $lg) {
      // display: block !important;
      position: fixed;
      width: 248px;
      left: 0;
    }

    .menuList {
      ul {
        li {
          i {
            left: 22px;
            font-size: 14px;
          }

          a {
            white-space: nowrap;
            @media (max-width: $lg) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .nav-link {
    color: rgba(0, 0, 0, 0.38);
    font-size: $fs14;
    border: 0 solid #000;

    &:hover {
      color: $primary;
      background-color: transparent !important;
      border: 0px solid #000 !important;
      border-bottom: 2px solid $primary;
      border-radius: 0px !important;
    }

    &.active {
      color: $primary;
      background-color: transparent !important;
      border: 0px solid #000 !important;
      border-bottom: 2px solid $primary !important;
      border-radius: 0px !important;
    }

    &:focus {
      color: $primary;
      background-color: transparent !important;
      border: 0px solid #000;
      border-bottom: 2px solid $primary !important;
      border-radius: 0px !important;
      background-color: transparent !important;
    }

    &:focus-visible {
      color: $primary;
      background-color: transparent !important;
      border: 0px solid #000 !important;
      border-bottom: 2px solid $primary !important;
      border-radius: 0px !important;
    }
  }
}

.textRight {
  text-align: right;
}

.WhiteBox {
  background-color: $white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin-top: 18px;
  padding: 35px;

  .inputStyle {
    margin-bottom: 24px;
  }
}

.noteStyle {
  border: 1px solid $black;
  background: rgba(255, 255, 255, 0.7) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  position: relative;
  padding: 0px 10px;
  margin-bottom: 33px;

  .noteLabel {
    font-size: $fs14 - 4;
    color: #666666;
    position: $absolute;
    left: 19px;
    top: -12px;
    background-color: $white;
    display: inline-block;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
  }

  .form-control {
    border: 0px solid #000;
    background-color: transparent;
    border-radius: 0px;
    height: 228px;
    font-size: $fs14;
  }
}

hr {
  color: rgba(0, 0, 0, 0.1);
}

select,
select.form-control {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 28px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  background: #fff url(../../public/assets/icons/DownArrow.svg) no-repeat scroll calc(100% - 12px) center !important;
}

select.form-control:not([size]):not([multiple]) {
  height: 40px;
  background-color: transparent !important;
}

select,
select.form-control option {
  padding: 0 5px;
}

.smBtn {
  height: 30px;
  padding-top: 4px;
  box-shadow: none;
  font-weight: 600;
}

.Popup {
  .popover {
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    border: 0;
    inset: 61px auto auto -21px !important;

    ul {
      padding: 0px;
      margin: 0px;
      list-style: none;

      li {
        padding: 0px;
        margin: 0px;
        list-style: none;
        margin-bottom: 8px;
        color: $grey;

        span {
          margin: 0px 5px;
        }
      }
    }

    .popover-arrow {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }
}

.loginForm {
  .inputStyle {
    margin-bottom: 0px;
  }
}

.input-group-text {
  padding: 0;
  background-color: transparent !important;
}

.formNots {
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px;
  padding-bottom: 4px;
  font-weight: $font-weight-semibold;
  color: rgba(0, 0, 0, 0.54);
}

.BusinessForm .customBtn {
  padding-left: 25px;
  padding-right: 25px;
}

.form-check-input {
  &:checked {
    background-color: $primary;
    border-color: $primary;
  }
}

.paymentArea {
  max-width: 300px;
  margin-top: 65px;
}

.cardArea {
  max-width: 300px;
  margin-bottom: 30px;
  position: $relative;
  padding-left: 80px;

  .inputStyle {
    margin-bottom: 0px;
  }
}

.PaymentForm {
  max-width: 394px;
}

.CardInput {
  max-width: 130px;
  min-width: 130px;
}

.dashboard {
  tbody {
    td {
      font-size: $fs14 - 2 !important;
    }
  }
}

.settingCard {
  position: $relative;
  padding-left: 80px;
  @media only screen and (max-width: 1240px) and (min-width: 998px) {
    padding-left: 0px;
  }

  @media (max-width: $lg) {
    padding-left: 57px;
  }

  span {
    position: $absolute;
    left: 0px;
    top: 0;
    background-color: #f8f8f8;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 1240px) and (min-width: 998px) {
      position: inherit;
      margin-bottom: 20px;
    }

    @media (max-width: $lg) {
      width: 45px;
      height: 45px;
    }
  }

  p {
    font-size: $fs14 - 2;
    color: $grey;
    margin-bottom: 0;
    padding-bottom: 0px;
    min-height: 96px;
    @media (max-width: $md) {
      min-height: 40px;
    }
  }

  a {
    color: $primary;
    font-weight: $font-weight-semibold;
    font-size: $fs14;

    &:hover {
      color: $grey;
    }
  }
}

.modelClass {
  position: relative;
  overflow: hidden;

  &.modelClass:before {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 30px;
    top: 0;
    z-index: 99;
  }
}

.retailerArea {
  max-width: 1184px;
  margin: 0px auto;

  h3 {
    color: #000;
    text-transform: inherit;
    letter-spacing: 0.14px;
  }

  .WhiteBox {
    padding-left: 10px !important;
  }
}

.accordion-button:not(.collapsed)::after {
  filter: invert(58%);
}

.text-right {
  text-align: right;
}

.greyBordBtn {
  border: 1px solid #979797;
  border-radius: 30px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font-weight: $font-weight-semibold;
  padding: 5px 20px;
}

.greyBordBtn:hover {
  border: 1px solid $primary;
  border-radius: 30px;
  background-color: $primary;
  color: $white;
}

.redBordBtn {
  border: 1px solid $primary;
  border-radius: 30px;
  background-color: transparent;
  color: $primary;
  font-weight: $font-weight-semibold;
  padding: 5px 20px;
}

.redBordBtn:hover {
  border: 1px solid $primary;
  border-radius: 30px;
  background-color: $primary;
  color: $white;
}

.adduser {
  .inputStyle {
    margin-bottom: 25px;
  }
}

.textLink {
  color: rgba(0, 0, 0, 0.87);
  font-weight: $font-weight-semibold;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: $fs14;
  border-radius: 0px;

  &:hover {
    color: $red;
    background-color: transparent;
  }
}

.pagging {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  align-items: center;
  padding-bottom: 15px;

  @media (max-width: $md) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .CountArrow {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md) {
      margin-top: 15px;
    }
  }

  .inputStyle {
    margin-bottom: 0px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .paggingArrow {
    width: 140px;

    ul {
      padding: 0px;
      margin: 0px auto;
      list-style: none;
      text-align: center;

      @media (max-width: $md) {
        text-align: left;
      }

      li {
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: inline-block;

        &.disabled {
          opacity: 0.5;
          cursor: no-drop;
        }
      }
    }
  }

  .paggingCount {
    width: 150px;
    text-align: center;

    @media (max-width: $md) {
      text-align: left;
    }
  }
}

.btn:focus-visible {
  background-color: $primaryHover;
}

.dashboard {
  .rightModal {
    padding: 20px 15px 20px 23px;
    @media (max-width: $sm) {
      width: 91% !important;
    }
    .modelClose {
      display: none;
    }
  }
}

//Dashboard Css Start

.profileArea {
  width: 301px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0px auto 30px auto;
  @media (max-width: $sm) {
    width: 100% !important;
  }
}

.profileLabel {
  font-size: $fs14;
  color: $grey;
  font-weight: $font-weight-semibold;
}

.profileName {
  font-size: $fs14 + 2;
  color: $dGray;
  font-weight: $font-weight-bold;
}

.IconArea {
  width: 28px;
  text-align: center;
  position: relative;

  .Notifi {
    position: absolute;
    right: 2px;
    top: 1px;
    content: '';
    background-color: $primary;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    color: $white;
    font-size: $fs14 - 8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

////Dashboard Css Start Css Start

.offerFlt {
  background-color: rgba(243, 243, 243, 0.7) 0% 0% no-repeat padding-box;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  height: 42px;
  max-width: 490px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;

  .form-control {
    border: 0px;
    background-color: transparent;
  }

  img {
    position: absolute;
    left: 15px;
  }
}

.FilterCategory {
  background-color: rgba(243, 243, 243, 0.7) 0% 0% no-repeat padding-box;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  height: 42px;
  max-width: 390px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0px;

  .form-select {
    border: 0px;
    background-color: transparent !important;
    color: $Gray;
    font-size: $fs14;
  }
}

.whiteBg {
  background-color: $white;
}

.categoryList {
  padding: 0;
  margin: 0px;
  list-style: none;

  li {
    padding: 0;
    margin: 0px;
    list-style: none;
    display: inline-block;
    font-size: $fs14;
    font-weight: $font-weight-semibold;

    a {
      color: rgba(0, 0, 0, 0.54);
      text-decoration: none;
      position: $relative;
      padding-left: 10px;
      padding-right: 10px;

      &::before {
        position: $absolute;
        content: '';
        background-image: url(../../public/assets/icons/left.svg);
        padding: 6px;
        background-repeat: no-repeat;
        top: 6px;
        left: -3px;
      }
    }

    &:first-child {
      a {
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}

.SmallRedBtn {
  background-color: $primary;
  border-radius: 80px;
  border: 0px solid #000;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.16);
  text-align: center !important;
  height: 25px;
  padding: 0px 16px;
  font-size: $fs14;
  color: $white;

  &:hover {
    background-color: $primaryHover;
  }

  &:focus-visible {
    background-color: $primaryHover;
  }

  &:active {
    background-color: $primaryHover;
  }
}

.AvailableOfferModel {
  max-width: 1348px;
  width: 100% !important;
  padding: 26px 40px 80px 40px !important;
  overflow-x: hidden;

  @media (max-width: $xl) {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .accordion {
    --bs-accordion-border-radius: 0rem !important;
  }

  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #666666;
  }

  .accordion-button {
    color: #666666;
    font-size: $fs14;
    font-weight: $font-weight-medium;
  }

  .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #666666;
  }

  .accordion-button::after {
    opacity: 0.5;
  }

  .YourOffer {
    h3 {
      padding-bottom: 14px;

      span {
        display: block;
        font-size: $fs14;
        font-weight: $font-weight-normal;
      }
    }
  }
}

.ModelFooter {
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 4px 4px;
  background-color: $white;
  padding: 10px;
  left: 2px;
  right: 0;
}

.btn:first-child:active {
  background-color: $primaryHover;
}

.EnterBid {
  margin-top: 15px;

  .inputStyle {
    padding-left: 22px;
    position: relative;
    margin-bottom: 3px;
  }

  img {
    position: absolute;
    left: 10px;
    top: 8px;
  }
}

.hintText {
  text-align: right;
  font-size: $fs14 - 2;
  line-height: 16px;
}

.OfferExpiration {
  .OfferArea {
    width: 50%;

    @media (max-width: $lg) {
      width: 100%;
      margin-top: 15px;
    }
  }

  .inputStyle {
    padding-left: 22px;
    position: relative;
    margin-bottom: 3px;
  }

  .form-check-input {
    width: 1.3em;
    height: 1.3em;
  }
}

.manageSelect {
  // background-color: #f5f5f5;
  background-color: #fff;

  .inputLabel {
    // background-color: #f5f5f5;
    background-color: #fff;
    line-height: 3px;
    top: -2px;
  }
}

.importantNote {
  font-size: $fs14 - 2;
  font-style: italic;
  line-height: 16px;
  margin-top: 10px;
  padding-bottom: 15px;

  .redTxt {
    color: $primary;
    font-weight: 600;
  }
}

.OfferPeriod {
  display: flex;
  justify-content: space-between;

  @media (max-width: $lg) {
    display: inherit;
    margin-top: 15px;
  }
}

.offerbtn {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.YourOffer {
  max-height: 453px;
  overflow-y: scroll;
}

.EnterBid {
  .noteStyle {
    margin-bottom: 5px;

    .form-control {
      height: 138px;
    }
  }
}

.UploadProduct {
  border: 1px dashed #000;
  padding: 40px 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.bg-danger-subtle {
  background-color: #f7cece;
}

.offerTool {
  background-color: transparent !important;
  border: 2px solid rgba(0, 0, 0, 0.38);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: $fs14;
  color: rgba(0, 0, 0, 0.38);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative;
  top: -1px;
  left: 3px;
  font-weight: 700;

  &:hover {
    background-color: transparent !important;
    border: 2px solid rgba(0, 0, 0, 0.38);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: $fs14;
    color: rgba(0, 0, 0, 0.38);
  }
}

.tooltip > div.tooltip-inner {
  background-color: $white !important;
  color: $baseColor !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  text-align: left;
  font-style: italic;
}

.tooltip > div {
  width: 270px !important;
  margin-top: 90px;
  margin-left: -10px;
}

.tooltip.show {
  opacity: 1 !important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #00acd6;
}

.tooltiphead {
  color: $primary;
  font-weight: 600;
}

.tooltip-inner {
  max-width: none;
}

.tooltip.show .tooltip-arrow {
  display: none;
}

.offerFilt {
  @media (max-width: $sm) {
    flex-wrap: wrap;
    margin-bottom: 15px !important;
  }

  .offerFlt {
    @media (max-width: $sm) {
      margin-right: 0px;
      margin-bottom: 15px;
    }
  }

  .FilterCategory {
    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
}

.OrderFlt {
  margin-right: 15px;

  .form-control {
    border-radius: 0px;
    border: 0;
    background-color: transparent !important;
  }

  @media (max-width: $sm) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

.MoreFilter {
  text-align: center;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  color: #000;
}

.ExportHead {
  border-bottom: 1px solid #dfe2e7;
  padding-bottom: 15px;

  .form-select {
    border: 0px solid #000;
    color: $white;
    background: $primary url(/assets/images/WhiteDownArrow.svg) no-repeat center right 15px !important;
    background-size: 12px !important;
    border-radius: 40px;
    width: 120px;
    height: 35px;
  }
}

.DisableBtn {
  background-color: #b1b1b1 !important;
  box-shadow: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: $font-weight-medium;

  &:hover {
    background-color: #eb9a3a !important;
    color: #fff !important;
  }
  &:focus {
    background: #eb9a3a !important;
    border-radius: 70px;
    border: 1px solid #eb9a3a !important;
    color: $white;
  }
}
.LightOrgBtn {
  background-color: #fae9d1 !important;
  box-shadow: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #eb9a3a;
  font-weight: $font-weight-medium;

  &:hover {
    background-color: #eb9a3a !important;
    color: #fff !important;
  }

  &:focus {
    background: #eb9a3a !important;
    border-radius: 70px;
    border: 1px solid #eb9a3a !important;
    color: $white;
  }
}

.greenDot {
  background-color: $green;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: -2px;
}

.YellowDot {
  background-color: $yellow;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: -2px;
}

.CardChoose {
  max-width: 350px;
  margin: 0px auto;
  text-align: center;
  .customBtn {
    width: 100%;
  }
  .inputStyle {
    margin-bottom: 23px;
  }
}

.confirmation {
  width: 917px !important;
  overflow-x: hidden;
}

.dCardArea {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: $fs14;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .CardNameNo {
    font-size: $fs14;
    font-weight: $font-weight-semibold;
    color: rgba(0, 0, 0, 0.6);
    display: block;
  }
  .cardicon {
    margin-top: 20px;
    margin-bottom: 15px;
    @media (max-width: $md) {
      margin-top: 15px;
    }
  }
}

.font14 {
  font-size: $fs14;
  color: rgba(0, 0, 0, 0.6);
}
.black {
  color: rgba(0, 0, 0, 0.87);
}
.OptionDropDown {
  border-radius: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: $fs14;
  height: 42px;
  padding-left: 20px;
  padding-right: 30px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  margin-right: 10px;
  background: #f5f5f5 url(../../public/assets/icons/DownArrow.svg) no-repeat scroll calc(100% - 12px) center !important;
}

.card {
  border: none;
  -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  margin-bottom: 30px;
}

.inProgress {
  background-color: $lightOrange;
  color: $darkOrange;
  border-radius: 70px;
  border: 1px solid $lightOrange;
  font-size: $fs14;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-semibold;
  width: 130px;
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #f8f9fa !important;
}

.card {
  td {
    border-bottom-width: 0px !important;
  }
}

.Paid {
  background-color: $lightGreen;
  color: $darkGreen;
  border-radius: 70px;
  border: 1px solid $lightGreen;
  font-size: $fs14;
  height: 42px;
  width: 130px;
  letter-spacing: 0.14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-semibold;
}

.PaidAmount {
  padding: 1.25rem !important;
  background-color: #f8f8f8f8;
  margin-top: 2rem !important;
}

.CurrentPlan {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
  width: 300px;
  margin: 0px 0px 0px auto;
  text-align: center;
  min-height: 196px;

  .curntLabel {
    font-size: $fs14;
    color: rgba(0, 0, 0, 0.54);
    font-weight: $font-weight-bold;
    line-height: 18px;
    margin-bottom: 10px;
    span {
      font-size: $fs14 -2;
      font-weight: $font-weight-normal;
      display: block;
    }
  }
  .yourSubscription {
    font-size: $fs24;
    color: rgba(0, 0, 0, 0.87);
    font-weight: $font-weight-bold;
    line-height: 24px;
    margin-bottom: 10px;
    span {
      display: block;
      font-size: $fs14;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .Recuring {
    font-size: $fs14 - 2;
    font-weight: $font-weight-normal;
    display: block;
    color: rgba(0, 0, 0, 0.54);
  }
}

.form-control:disabled {
  cursor: not-allowed !important;
}

.searchParent {
  /*background-color: #f0f0f0 !important;*/
  background-color: #fff !important;
  position: relative;
  .form-control:disabled,
  .form-control[readonly] {
    background: transparent !important;
  }

  .inputLabel {
    background-color: #f0f0f0;
    top: -3px;
    line-height: 4px;
  }

  .serchContaner {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    width: 96%;
    z-index: 9;
    padding: 10px;
    // top: 40px;
    left: 0px;
    right: 0px;
    margin: 0px auto;

    input {
      width: 100%;
      border-radius: 4px;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #666;
    }
    .optionsList {
      // border-top: 1px solid $light;
      // padding-top: 15px;
      // margin-top: 15px;
      max-height: 110px;
      overflow-y: scroll;
      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        li {
          font-size: $fs14;
          margin-bottom: 5px;
          padding: 5px 8px;

          &:hover {
            background-color: $primary;
            color: $white;
          }
        }
        li.active {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.leftLast {
  rotate: 180deg;
}

.leftArrow {
  rotate: 180deg;
}
th:nth-child(1) {
  min-width: 120px;
}

.ProductImage {
  width: 50px;
  height: 32px;
  img {
    width: 100%;
    height: 32px;
  }
}

.file_ImageUpload__TImfU input {
  height: 100%;
  z-index: 0;
  cursor: pointer;
}

.uploadImage {
  width: 88px !important;
  height: 88px !important;
  display: flex;
  align-items: center;
  margin-right: 15px;
  img {
    height: auto;
  }
}

.tableLoader {
  position: relative; /*background-color: rgba(0, 0, 0, 0.25)*/
  &::before {
    position: absolute;
    content: '';
    // background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .tableSpinner {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    top: 40%;
  }
}

.dropstart .dropdown-toggle::before {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  margin: 1px 3px;
}

.SelectTab {
  background-color: #f9f9f9;
  border-radius: 45px;
  padding: 5px 10px;
  margin-right: 5px;
  position: relative;
  top: 5px;

  img {
    max-width: 10px;
    height: auto;
  }
}

.UpdateBannerLink {
  height: auto !important;
  .fltSearch {
    display: flex;
    flex-wrap: wrap;
    .form-control {
      width: auto;
    }
    .SelectTab {
      display: inline-flex;
      top: 0;
    }
  }
}

.CategoryForm ul li .accordion {
  position: relative;
  left: -23px;
}

.bannerLinkHeight {
  min-height: 160px;
}

.toggleSidebar {
  .settingCard {
    @media only screen and (max-width: 1240px) and (min-width: 998px) {
      padding-left: 80px;
    }

    span {
      position: absolute;
    }
  }
}

.modelClass {
  .layoutPage {
    position: inherit !important;
  }
}


.selectCategoryTitle {
  // list-style-type: lower-alpha;
  padding-left: $space10 + 5;
  max-height: 100px;
  overflow-y: scroll;
}
