@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-size: $fs15;
  font-weight: $font-weight-normal;
  color: $baseColor;
  line-height: 24px;
  background: $offWhite;
  font-family: 'Poppins', sans-serif;

  @media (max-width: $xxxl) {
    font-size: $fs15 - 1;
  }

  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
    line-height: 22px;
  }
}

a {
  transition: $theme-transition;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

h2 {
  font-size: $fs20 + 4;
  font-weight: $font-weight-semibold;
  text-transform: $text-uppercase;
  padding-bottom: $space30;
  color: $grey;
  margin: 0;

  @media (max-width: $xxl) {
    font-size: $fs20;
    padding-bottom: $space20;
  }

  @media (max-width: $md) {
    font-size: $fs20 - 2;
  }
}

h3 {
  font-size: $fs15 - 1;
  font-weight: $font-weight-bold;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: $space20;
  margin-bottom: 0;
}

p {
  padding-bottom: $space20 - 5;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

textarea {
  &.form-control {
    height: auto;
    min-height: 88px;
    line-height: normal;
    resize: vertical;
    padding-top: $space10;
  }
}

.form-control {
  @include formControl;

  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
  }

  &:focus {
    box-shadow: none;
    border-color: $grey;
  }

  &::placeholder {
    color: #a6b1c2;
  }

  &::-webkit-input-placeholder {
    color: #a6b1c2;
  }
}

label {
  color: $lightGrey;
  font-size: $fs15 - 1;
}

.form-select {
  @include formSelect;

  &:focus {
    box-shadow: none;
    border-color: $grey;
    color: $grey;
  }
}

.form-check {
  display: $flex;

  label {
    flex: 0 0 calc(100% - 22px);
    width: calc(100% - 22px);
    margin-left: 10px;
  }
}
.rememberMe {
  width: 160px;
  margin-left: 1px;
}
.customBtn {
  @include button;
  border: none;
  border-radius: 70px;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    background-color: $primaryHover !important;
  }
  @media (max-width: $lg) {
    font-size: $fs15 - 1;
    height: 42px;
    line-height: 42px;
  }
}

.customBtnSm {
  @extend .customBtn;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  border: none;
}

.fullBtn {
  display: $block;
  width: 100%;
}

.navbar {
  padding: 0;
}

.hdrDropdown {
  .btn-primary {
    border: none;
    display: $flex;
    align-items: $alignCenter;
  }
}

.hdrLangDropdown {
  .dropdown-menu {
    transform: translate3d(0px, 64px, 0px) !important;

    @media (max-width: $xl) {
      transform: translate3d(0px, 56px, 0px) !important;
    }

    @media (max-width: $md) {
      transform: translate(0px, 20px) !important;
    }
  }

  .btn-primary {
    &:hover {
      border-color: #d0d3d9;
    }
  }
}

.hdrDropdown {
  .dropdown {
    .dropdown-menu {
      width: 215px;
      transform: translate(0px, 77px) !important;

      @media (max-width: $xxl) {
        transform: translate(0px, 72px) !important;
      }

      @media (max-width: $xl) {
        width: 170px;
        transform: translate(0px, 65px) !important;
      }

      @media (max-width: $md) {
        width: 100%;
        transform: inherit !important;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      right: 0 !important;
    }
  }
}

.hdrLangDropdown,
.hdrDropdown {
  .show {
    .dropdown-toggle {
      background: transparent;
      color: $blue;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .btn-primary {
    background: transparent;

    &:hover,
    &:focus {
      background: transparent;
      box-shadow: none;
    }
  }
}

.headerMenu {
  .dropdown-toggle {
    &::after {
      margin-left: 0;
      content: '';
      border: none;
      background: url(/assets/images/down-arrow.svg) no-repeat center;
      background-size: 100%;
      position: $absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 11px;
      height: 8px;

      @media (max-width: $xxxl) {
        width: 10px;
      }

      @media (max-width: $xxl) {
        right: 15px;
      }
    }
  }

  .mobileDropdown {
    &.dropdown-toggle {
      &::after {
        @media (max-width: $md) {
          top: 20px;
        }
      }
    }
  }

  .dropdown-menu {
    background: $white;
    border-radius: $border-radius * 3;
    padding: $space20 - 5 $space20;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: none;
    position: $relative;

    @media (max-width: $xl) {
      border-radius: $border-radius * 2;
      padding: $space10 $space20 - 5;
    }

    @media (max-width: $md) {
      padding: $space10 - 5 $space10;
    }

    &::after {
      position: $absolute;
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 13px solid $white;
      top: -12px;
      right: 15px;

      @media (max-width: $md) {
        display: none;
      }
    }

    .dropdown-item {
      padding: 0;
      padding-bottom: $space10 - 3;
      font-size: $fs15 - 1;
      text-transform: $text-uppercase;
      color: $grey;

      &.active {
        background-color: $primaryHover;
      }

      img {
        padding-right: $space20 - 5;

        @media (max-width: $xl) {
          padding-right: $space10;
        }
      }

      &:hover {
        background: transparent;
        color: $blue;
      }

      @media (max-width: $xl) {
        font-size: $fs15 - 2;
        padding-bottom: $space10 - 5;
      }
    }
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $primaryHover !important;
  color: #ffff !important;
}

.navbar {
  .navbar-toggler {
    @media (max-width: $xl) {
      border: 0;
      padding: 0;
      position: fixed;
      right: 15px;
      top: 19px;

      &:focus {
        box-shadow: none;
      }
    }

    @media (max-width: $md) {
      top: 14px;
    }

    .navbar-toggler-icon {
      background: url(/public/assets/images/toggleimg.svg) no-repeat center right;
    }
  }

  .navbar-collapse {
    @media (max-width: $xl) {
      position: fixed;
      left: -100%;
      top: 66px;
      right: 0px;
      background: $white;
      width: 300px;
      bottom: 0;
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
      z-index: 9;
      transition: $theme-transition;
    }

    @media (max-width: $xl) {
      border-top: 1px solid #dfdfdf;
    }

    @media (max-width: $md) {
      top: 55px;
      height: 100% !important;
    }

    &.show {
      left: 0;
    }
  }
}

.outer,
.outercontainer {
  padding: $space30 * 4 $space30 $space30;

  @media (max-width: $xxl) {
    padding: $space20 * 4 $space10 + 5 $space30;
  }

  @media (max-width: $xl) {
    padding-top: $space20 * 3 + 5;
  }

  @media (max-width: $md) {
    padding-top: $space30 * 2 - 5;
  }
}

.secOuter {
  padding-top: $space30;

  @media (max-width: $xxl) {
    padding-top: $space20 + 5;
  }
}

.table {
  margin: 0;
}

.cmnTable {
  background: $white;
  padding: 0;
  border-radius: $border-radius * 3;
  position: relative;
  box-shadow: 0 0px 10px rgb(0 0 0 / 15%);

  h3 {
    color: $blue;
    // padding-left: 24px;
    i {
      font-weight: 700;
      margin-left: 0px;
      margin-right: 5px;
    }
  }
  @media (max-width: $xxl) {
    padding: 0;
    border-radius: $border-radius * 2;
  }

  tr {
    border-bottom: 1px solid $bdrGrey;
  }

  th {
    font-size: $fs15 - 3;
    font-weight: $font-weight-semibold;
    letter-spacing: 1px;
    color: $lightGrey;
    text-transform: $text-uppercase;
    padding: 0 $space10 - 5 $space10 - 3 0;
    white-space: nowrap;
  }

  tbody {
    tr {
      vertical-align: middle;

      td {
        color: $baseColor;
        padding: $space20 $space10 - 5;
        padding-left: 0;

        &.noSpace {
          padding: 0;
        }

        .address {
          max-width: 200px;
          display: $inlineBlock;
        }

        .phoneNumber {
          display: $inlineBlock;
          width: 120px;
        }

        @media (max-width: $xxl) {
          padding: $space10 + 5 $space10 - 5;
          padding-left: 0;
        }

        .status {
          font-size: $fs15 - 2;
          padding: 0 $space20 - 3;
          height: 33px;
          line-height: 33px;
          text-align: center;
          border-radius: $border-radius-sm;
          border-width: 1px;
          border-style: solid;
          display: $inlineBlock;
          min-width: 95px;

          @media (max-width: $xxl) {
            padding: 0 $space10 + 5;
          }
        }

        .accept {
          color: $darkGreen;
          border-color: $darkGreen;
        }

        .pickup {
          color: $blue;
          border-color: $blue;
        }

        .bill,
        .new {
          color: $pink;
          border-color: $pink;
        }

        .pending {
          color: $purple;
          border-color: $purple;
        }

        .starIcon {
          margin-right: $space10 - 5;
          margin-top: -2px;

          @media (max-width: $xxl) {
            margin-top: -3px;
          }
        }

        .infoIcon {
          display: $block;

          img {
            min-width: 26px;

            @media (max-width: $xxl) {
              margin: 0;
              width: 22px;
            }
          }
        }
      }
    }
  }

  .pagination {
    margin-left: auto;

    @media (max-width: $lg) {
      margin-top: 0px;
    }
  }

  .paginationOuter,
  .react-bootstrap-table-pagination {
    @include d-flex2;
    flex-wrap: wrap;
    padding: 15px;

    @media (max-width: $lg) {
      display: $flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .page-item {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      .page-link {
        background: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }

  .page-link {
    border: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: $bdrGrey;
    border-radius: $border-radius;
    text-align: center;
    padding: 0;
    color: $lightGrey;
    font-size: $fs15 - 2;
    transition: $theme-transition;
    &:hover {
      background: $primary;
      border-color: $primary;
      color: $white;
    }

    @media (max-width: $xxl) {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    @media (max-width: $md) {
      width: 25px;
      height: 25px;
      line-height: 25px;
    }

    &:focus {
      box-shadow: none;
    }

    img {
      @media (max-width: $xxl) {
        width: 7px;
      }
    }
  }

  // CP

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    table tr {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 0.35em;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.tableLeft {
  width: calc(100% - 330px);
  padding-right: $space10 + 5;

  @media (max-width: $xxl) {
    width: calc(100% - 310px);
  }

  @media (max-width: $xl) {
    width: calc(100% - 285px);
  }

  @media (max-width: $md) {
    width: 100%;
    padding-right: 0;
  }
}

.tableArrow {
  @media (max-width: $lg) {
    min-width: 10px;
  }
}

.tableHeading {
  padding-top: $space30;

  @media (max-width: $xxl) {
    padding-top: $space20;
  }
}

.tableRight {
  background: $white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 645px;
  position: absolute;
  padding: 30px;
  box-shadow: 0px 4px 8px #00000029;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000 !important;

  // @media (max-width: $xxl) {
  //   width: 325px;
  // }

  // @media (max-width: $xl) {
  //   width: 300px;
  //   top: 66px;
  // }

  // @media (max-width: $md) {
  //   position: inherit;
  //   top: auto;
  //   bottom: auto;
  //   right: auto;
  //   width: 100%;
  //   overflow-y: auto;
  //   background: transparent;
  //   box-shadow: none;
  //   padding-bottom: 0;
  // }
}

.rightModal {
  width: 0px;
  opacity: 0;
}

.listSection {
  padding-bottom: $space10 + 5;
  border-bottom: 1px solid $bdrGrey;
  margin-bottom: $space10 + 5;

  @media (max-width: $xxl) {
    padding-bottom: $space10;
    margin-bottom: $space10;
  }
}

.list {
  padding: $space10 + 5;
  border-radius: $border-radius * 3;
  border: 1px solid $bdrGrey1;
  display: $flex;
  flex-wrap: wrap;
  margin-bottom: $space10 + 5;
  position: relative;

  @media (max-width: $xxl) {
    padding: $space10;
    border-radius: $border-radius * 2;
    margin-bottom: $space10;
  }
}

.truckerImg {
  width: 48px;
  height: 48px;
  background: $white;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: $space10 + 5;

  @media (max-width: $xxl) {
    margin-right: $space10;
    width: 42px;
    height: 42px;
  }

  img {
    width: 100%;
    display: $block;
  }
}

.truckerInfo {
  width: calc(100% - 63px);
  flex: 0 0 calc(100% - 63px);
}

.truckerName {
  font-size: $fs15 + 1;
  color: $grey;
  display: $block;

  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
  }
}

.truckerMail {
  font-size: $fs15 - 1;
  color: $blue;
  display: $block;

  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
  }
}

.truckerNumber,
.truckType {
  font-size: $fs15 - 1;
  color: $lightGrey;
  display: $block;

  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
  }
}

.viewMore {
  color: $blue;
  font-size: $fs15 - 1;
  text-decoration: underline;
  margin-bottom: $space10 + 5;

  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
  }

  &:hover {
    color: $blue;
  }
}

.likeIcon {
  position: absolute;
  top: 10px;
  right: 15px;
}

.starRating {
  position: absolute;
  bottom: 15px;
  right: 15px;

  img {
    margin-right: $space10 - 5;
  }
}

.bdrNone {
  border: 0 !important;

  @media (max-width: $md) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.form-check-input {
  width: 22px;
  height: 22px;
  border-radius: $border-radius;
  margin: 0;

  &:focus {
    box-shadow: none;
  }

  &:checked {
    background-color: $blue;
    border-color: $blue;

    &[type='radio'] {
      background-color: $white;
      display: block;
      background-image: url(/public/assets/images/radionbtn.svg);
    }
  }

  &[type='radio'] {
    margin-right: $space10;
  }
}

.tableTabs {
  &.nav-tabs {
    border-color: $bdrGrey;
    margin-bottom: $space20;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: nowrap;

    @media (max-width: $xxl) {
      margin-bottom: $space10 + 5;
    }
  }

  .nav-item {
    button > .tabBadge {
      position: absolute;
      top: 4%;
      margin-left: 2px;
    }
    @media (max-width: $xxl) {
      margin: 0 $space10 + 5;
    }

    @media (max-width: $md) {
      margin: 0 $space10;
    }
  }

  .nav-link {
    font-size: $fs15 - 1;
    font-weight: $font-weight-semibold;
    text-transform: $text-uppercase;
    letter-spacing: 1px;
    padding: 0 $space20 + 5 $space20;
    color: $grey;
    margin-bottom: 0;
    border: 0;

    @media (max-width: $xxxxl) {
      padding: 0 $space10 + 5 $space10 + 5;
    }

    @media (max-width: $xxxl) {
      padding: 0 $space10 $space10 + 5;
    }

    @media (max-width: $xxl) {
      font-size: $fs15 - 2;
      padding: 0 $space10 $space10;
      width: calc(100% + 30px);
    }

    @media (max-width: $md) {
      padding: 0 $space10 - 5 $space10;
      width: calc(100% + 20px);
    }

    &:hover {
      border: $white;
    }

    &.active {
      color: $blue;
      border: 0;
      border-bottom: 4px solid $blue;

      @media (max-width: $xxxl) {
        border-width: 2px;
      }
    }
  }
}
.tabContent {
  padding: 5px;
}
.subTable {
  background: #fafafa;
  padding: $space20;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d6d6d6 #fff;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($black, 0.16);
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $white;
}

.hdSearchOuter {
  @include d-flex2;

  @media (max-width: $md) {
    display: $block;
  }
}

.serachBlock {
  @include d-flex4;

  @media (max-width: $md) {
    margin-bottom: $space10 + 5;
    margin-top: 0;
  }
}

.serachBox {
  width: 220px;
  position: relative;
  display: none;

  &.open {
    display: block;
  }

  @media (max-width: $md) {
    width: 100%;
    display: $block;
  }
}

.srchInput {
  background: $white;
  border: 1px solid $bdrGrey;
  outline: none;
  width: 100%;
  height: 34px;
  font-size: $fs15 - 2;
  margin: 0;
  padding: 0 $space30 0 $space10;
  border-radius: $border-radius;
  &:focus {
    border-color: #3299cc;
  }
}

.srchBtn {
  position: absolute;
  right: 5px;
  top: 1px;
  background: url(/public/assets/images/search-icon.svg) no-repeat center center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  width: 16px;
  z-index: 1;
  bottom: 1px;
}

.srchIcon {
  &.btn-primary {
      border-color: #0d6279;
      background: #0d6279;
      padding: 5px 10px;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    @media (max-width: $md) {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.errorMsg {
  background: $lightred;
  color: $red;
  min-height: 44px;
  padding: 0 $space10 + 5;
  font-size: $fs15 - 1;
  @include d-flex4;

  img {
    margin-right: $space10;
  }
}

.chatSerach {
  @include d-flex4;
  margin-bottom: $space30 + 10;

  @media (max-width: $xxxl) {
    margin-bottom: $space20;
  }

  form {
    width: 100%;

    .form-control {
      border: 0;
    }
  }
}

/* React Bootstrap Table 2 */
span.react-bs-table-sizePerPage-dropdown.dropdown {
  .dropdown-toggle,
  button {
    background-color: #3299cc;
    border-color: #3299cc;
    font-size: 12px;
    width: 45px;
    height: 30px;

    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}

.react-bootstrap-table table {
  table-layout: auto !important;
}

.loginFormBg {
  background: url(/public/assets/images/login-bg.jpg) no-repeat;
  background-size: cover;
}

.loginOuter {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  @include d-flex4;
  padding: $space10 + 5;

  @media (max-width: $md) {
    height: auto;
  }
}

.loginFormOuter {
  background: $white;
  border-radius: $border-radius * 3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
}

.loginForm {
  max-width: 450px;
  padding: 3vh 16px 16px;

  h2 {
    padding-bottom: 10px;
    color: #000000de;
    font-weight: $font-weight-bold;
    font-size: $fs24;
  }
  @media (max-width: $xl) {
    padding: $space30 + $space20;
  }

  @media (max-width: $lg) {
    padding: $space30;
  }

  @media (max-width: $md) {
    padding: $space10 + 5;
  }
}

.loginImg {
  width: 100%;
  @include d-flex1;
  background: #f1faff;
  padding: $space30;
  height: 100%;

  @media (max-width: $md) {
    padding: $space10 + 5;
  }
}

.loginFormHd {
  margin-bottom: $space20;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $md) {
    margin-bottom: $space10;
  }

  h2 {
    padding-bottom: $space10 + 5;
    color: $blue;
  }
}

.rememberPass {
  margin-bottom: $space20;

  span {
    display: $inlineBlock;
    margin-left: $space10;
  }
}

.fogotPass {
  color: $blue;

  &:hover {
    color: $blue;
  }
}

.loginBtn {
  margin-top: 15px;
  width: 100%;
  height: 44px;
}

.cmnFormSec {
  height: 100%;
}

.createAccount {
  margin-top: $space20;
}

// Paginated List
.paginationPages {
  height: 40px;
  width: 56px;
  font-size: 13px;
  border-radius: 5px;
  background: #3299cc;
  text-align: center;
  border-color: #3299cc;
  color: #fff;
  text-indent: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.paginationPages select::-ms-expand {
  display: none;
}

.goBackContainer {
  margin: 120px 3rem 0rem 0rem !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.goBack {
  font-size: 24px;
  color: #333456;
}

.form-control:disabled,
.form-control[readonly] {
  // background: #f0f0f0 !important;
  background: transparent !important;
  color: #666666;
}

.disabledInput {
  background: #e9ecef !important;
  border: 1px solid $Gray !important;
  .inputLabel {
    color: #666666 !important;
    position: relative;
    background-color: transparent !important;
    z-index: 1;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0px;
      background-color: #e9ecef !important;
      z-index: -1;
      top: 6px;
      right: 0px;
      margin: 0px auto;
    }
  }
}

.autocompleteMultipleChip {
  background: #f0f0f0;
  border-radius: 20px;
  padding: 0px 12px 0px 12px;
  font-size: 12px;
  line-height: 25px;
  color: #000000;

  i {
    padding-left: 10px;
    font-size: 10px;
    color: red;
  }
}

// Popover
.popover {
  width: 100%;
}
.tabBadge {
  line-height: 15px;
  height: 20px;
  width: 24px;
  font-size: 8px;
  margin-left: 2px;
}

.mainLoader {
  width: 100%;
  background: #fafafa;
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.card {
  h3,
  p {
    color: grey;
  }
}

.cron_builder {
  max-width: 100% !important;
  background-color: #f0f1f3 !important;
}
.well {
  background-color: #f0f1f3 !important;
}
.cron-builder-bg {
  background-color: #f0f1f3 !important;
  color: $blue !important;
}
.form-control.roundInput {
  border-radius: 70px;
}
.form-control.is-invalid {
  background-image: none;
}
.roundInput {
  border-radius: 40px;
  // overflow: hidden;
  .input-group-text {
    border: none;
  }
}
.squareInput {
  border-radius: 0px !important;
  .input-group-text {
    border: none;
  }
}
.roundInput.is-invalid {
  border: 1px solid #dc3545;
}
.input-group-text {
  background-color: #fff !important;
}
.form-control.is-invalid {
  background-image: none !important;
}
.form-label {
  font-size: 14px;
  font-weight: 600;
  color: #000000de;
  margin-bottom: 2px;
}
.colorPrimary {
  color: $primary;
}
.formNots {
  text-align: center;
  margin-top: 10px;
  a {
    color: $primary !important;
  }
}

.input-group-cus {
  position: relative;
  .input-icon-cus {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  .input-icon-cus-end {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}

.layoutContainer {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  margin-top: 68px;
}
.BusinessForm {
  max-width: 460px;
  padding: 3vh 16px 16px;
  .inputStyle {
    margin-bottom: 12px;
  }
}

.CategoryForm {
  max-width: 561px;
  padding: 3vh 16px 16px;

  p {
    font-size: $fs14 - 2;
    line-height: 16px;
    margin-top: 3px;
  }

  .accordion-item {
    border: 0px;
    border-radius: 0px;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }
  .accordion-button {
    padding: 5px 0px;
    font-size: $fs14 + 2;
    color: $grey;
    &::after {
      background-size: 80%;
    }
  }
  .accordion-header {
    .form-check {
      padding-left: 25px;
      label {
        color: $grey;
        position: relative;
        top: 2px;
      }
    }
  }
}
.accordion {
  border-width: 0 !important;
  .accordion-body {
    padding: 5px 15px;
  }
}

.CategoryForm {
  ul {
    padding: 0px;
    margin: 0px 0px 0px 30px;
    list-style: none;
    li {
      padding: 0px;
      margin: 0px 0px 8px 0px;
      list-style: none;
      label {
        color: $grey;
        position: relative;
      }
    }
  }
}

.paymentArea {
  max-width: 300px;
  .selectedCategory {
    font-size: $fs14;
    font-weight: $font-weight-bold;
    color: $grey;
    margin-bottom: 1px;
    line-height: 12px;
  }
  .hintTxt {
    font-size: $fs14 - 2;
    font-weight: $font-weight-medium;
    color: $grey;
  }
  .price {
    color: $black;
    font-weight: $font-weight-bold;
    font-size: $fs24;
    margin-top: 10px;
  }
  p {
    font-size: $fs14 - 2;
  }
}
.PaymentForm {
  p {
    font-size: $fs14 - 2;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.modelClose {
  position: absolute;
  top: 15px;
  right: 20px;
}
.headingBtn{
  float: right;
}

.swal2-toast-shown .swal2-container{
  width: auto !important;
}