/** @format */
@import '@/styles/variables.scss';

.passwordError {
  display: flex;
  padding: 10px;
  border-left: 5px solid $primary;
  box-shadow: 0px 0px 5px -1px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: left;
  .left {
    position: $relative;
    width: 15px;
    height: 15px;
  }
  .right {
    margin-left: 10px;
    color: $black;
    h6 {
      font-size: $fs16 - 1;
      font-weight: $font-weight-semibold;
      margin-bottom: 15px;
    }
    p {
      margin: 0;
      padding-bottom: 5px;
      color: $black;
      font-size: $fs14;
    }
  }
}
